{% extends 'base.html' %}
{% block title %}考勤列表{% endblock %}
{% block label %}
考勤列表 <a href="/leave/" class="btn-primary btn" style="float: right;margin-right: 4%;margin-bottom: 2%">请假</a>
{% endblock %}
{% block content %}
        <table class="table table-bordered">
            <tbody style="text-align: center">
            <tr>
                <th>假条ID</th>
                <th>请假人</th>
                <th>请假类型</th>
                <th>起始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {% for le in page_data %}
            <tr>
                <td>{{ le.id }}</td>
                <td>{{ le.leave_name }}</td>
                <td>{{ le.leave_type }}</td>
                <td>{{ le.leave_start_time }}</td>
                <td>{{ le.leave_end_time }}</td>
                <td>
                    {% if le.leave_status == '0' %}
                        请假
                    {% elif le.leave_status == '1' %}
                        批准
                    {% elif le.leave_status == '2' %}
                        驳回
                    {% elif le.leave_status == '3' %}
                        销假
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-primary exit" self_id="{{ le.id }}">撤销</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    <ul class="pagination" style="float: right">
        {% if not paging.is_start %}
            <li class="paginate_button page-item">
                <a class="page-link" href="/leave_list/{{ paging.previous_page }}">上一页</a>
            </li>
        {% endif %}
        {% for p in paging.page_range %}
            {% if page == p %}
                <li class="paginate_button page-item disabled">
                    <a class="page-link btn btn-primary" href="/leave_list/{{ p }}/">{{ p }}</a>
                </li>
            {% else %}
                <li class="paginate_button page-item">
                    <a class="page-link" href="/leave_list/{{ p }}/">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if not paging.is_end %}
            <li class="paginate_button page-item">
                <a class="page-link" href="/leave_list/{{ paging.next_page }}">下一页</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block script %}
    <script>
        $('.exit').each(
            function () {
                $(this).click(
                    function () {
                        var id=$(this).attr('self_id');
                        var url='/cancel/';
                        $.ajax(
                            {
                                url:url,
                                type:'post',
                                data:{'id':id},
                                success:function (data) {
                                    alert(data['data']);
                                    window.location.reload(); {#从服务器端重新载入页面#}
                                },
                                error:function (error) {
                                    console.log(error)
                                }
                            }
                        )
                    }
                )
            }
        )
    </script>
{% endblock %}